
.foolter{
    display: flex;
    justify-content: space-between;
    background-color: #EEF4F5;
}
.texts_containers{
    margin-left: 64px;

    }
.title {
    font-family: Poppins;
    font-style: normal;
    font-size: 48px;
    color: var(--primary);
    padding-top: 42px;

}
.container {
    width: 720px;
    height: 122px;
}

.whapper {
    background-color: #EEF4F5;
}

.box {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 200px;
    text-align: top;
}

.contato {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    gap: 10px;
    word-wrap: none;
}

.footer_container{
    margin-top: 430px;
    display: flex;
    justify-content: space-between;
    width: 720px;

}

.footer_text{
    color:var(--primary);
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 393px;
}
.footer_icons{
    display: flex;
    justify-content: space-around;
    width: 156px;

}
.footer_image_washing_machine{
}
