.section{
    background-color: var(--primary);
    width: 100%;
    padding: 50px 52px 180px 52px;
}

.title{
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 100px;
    color: #E5E7EB;

}

.cards{
    display: flex;
    justify-content: space-between;
}
